:root{
    --border-color: rgb(119, 70, 255);
}

.theme-font-family{
    font-family: cursive;
    font-size: 1.2rem;
}

.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.viewport{
    width: 80%;
    margin: 0 auto 20px;
}

.heading{
    font-weight: bold;
    font-size: 2.1rem;
    align-self: center;
    text-align: center;
    width: 100%;
    border-bottom: solid 5px var(--border-color);
}

body{
    background-color: whitesmoke;
}